/images/applejack
/images/derpy hooves
/images/fluttershy
/images/maud pie
/images/pinkie pie
/images/princess celestia
/images/princess luna
/images/rainbow dash
/images/rarity
/images/starlight glimmer
/images/sunset shimmer
/images/trixie
/images/twilight sparkle
/mlp-cnn-env